/*colors*/

$dark-blue: (27 29 35);
$dark-grey: (96 99 109);
$medium-grey: (125 130 143);
$light-grey: (200 204 216);
$very-light-grey: (238 239 244);
$red: (223 86 86);

$black: $dark-blue;
$white: (255 255 255);

@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@300;500;700;900&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0.01px;
}

body {
  font-family: "Spartan", sans-serif;
  line-height: 1;
  color: rgb($dark-blue);
  font-size: 1rem;
  font-weight: 400;
  line-height: 25px;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

$transition-speed-main: 250ms;
$transition-speed-slow: 300ms;

/*typography settings */
:root {
  font-size: 15px;
}

::selection {
  background-color: rgb($dark-blue);
  color: rgb($white);
}

img::selection {
  background-color: rgba(1, 1, 1, 0.2);
}

strong {
  font-weight: 700;
}

h1,
h2,
h3 {
  font-weight: 600;
  font-family: "Spartan", sans-serif;
  color: inherit;
}

h1 {
  font-size: 48px;
  letter-spacing: -2px;
  line-height: 100%;
}

h1.large {
  display: none;
  font-size: 120px;
  letter-spacing: -5px;
  line-height: 100%;
  // color: rgb($very-light-grey);
}

h2 {
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -2px;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

h3 {
  font-size: 18px;
  line-height: 25px;
}

p {
  max-width: 55ch;
}

p:first-of-type {
  margin-top: 2rem;
}

p + p {
  margin-top: 1rem;
}

p:last-of-type {
  margin-bottom: 3rem;
}

@media only screen and (min-width: 750px) {
  h1 {
    font-size: 80px;
  }
  h1.large {
    display: block;
  }

  h2 {
    font-size: 56px;
  }
}

@media only screen and (min-width: 1150px) {
  h1.large {
    font-size: 160px;
  }
}

.text-center {
  text-align: center;
}

.light {
  color: rgb($very-light-grey);
}
button,
.button {
  cursor: pointer;
  display: block;
  width: max-content;
  background-color: rgb($black);
  font-size: inherit;
  color: rgb($white);
  font-family: inherit;
  font-weight: 700;
  padding: 1.3rem 1.7rem;
  outline: none;
  border: none;
  transition: all ease-in-out $transition-speed-main;
  display: flex;
  align-items: center;

  img {
    fill: rgb($white);
    margin-left: 1.5rem;
    width: 24px;
    height: 20px;
    display: block;
  }
}

@media only screen and (min-width: 750px) {
  button,
  .button {
    padding: 1.7rem 2rem;
  }
}

button:hover,
.button:hover {
  background-color: rgb($dark-grey);
  color: rgb($white);
}

button:active,
.button:active {
  background-color: rgb($light-grey);
}

a {
  color: inherit;
  text-decoration: none;
  line-height: 1.4;
  transition: ease-in-out all $transition-speed-main;
}

a:hover {
  color: rgb($light-grey);
}

.container {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

$header-height-sm: 5rem;
$header-height-md: 8rem;
$header-height-lg: 30px;

$header-height: $header-height-sm;

header {
  background-color: rgba(rgb($white), 0.99);
  height: $header-height;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  // border: 2px solid red;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 100%;

    & > a {
      font-size: 1.5rem;
      display: block;
      // border: 2px solid red;
      line-height: 3.5rem;
      height: 3rem;
      font-weight: 900;
      letter-spacing: -3px;
    }
  }
}

.menu-toggler {
  cursor: pointer;
  // border: 2px solid orange;
}

nav {
  background-color: rgb($very-light-grey);
  position: fixed;
  top: $header-height;
  right: 0;
  width: 0;
  transition: all ease-in-out $transition-speed-slow;
  // border: 2px solid pink;
}

nav.show {
  width: 90%;
}

.nav-list {
  list-style: none;
  margin: 0;
}
.nav-list-item {
  margin: 2rem;
  a {
    color: rgb($dark-blue);
  }
}

main {
  margin-top: $header-height;
  padding-top: 1px;
  min-height: 100vh;
  position: relative;
}

footer {
  // margin-top: $header-height;
  background-color: rgb($very-light-grey);
  min-height: $header-height;
  padding: 5rem 0 4rem;
  position: relative;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.footer-link-list {
  text-align: center;
}

.footer-link-item {
  margin: 1.6rem;
  font-weight: 700;
  color: rgb($medium-grey);
}
.footer-brand {
  position: absolute;
  top: 0;
  margin-top: -3.5rem;
  // padding: 1.7rem;
  background-color: rgb($black);
  color: rgb($white);
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 120px;
  height: 120px;
  // display: grid;
  // place-items: center;
  text-align: center;
  font-weight: 700;
  line-height: 120px;
  font-size: 26px;
}

.footer-dot {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: max-content;
  display: flex;
  align-items: center;
  span {
    width: 100%;
  }
}

@media only screen and (min-width: 750px) {
  .container {
    width: 80%;
  }
  header {
    height: $header-height-md;
    .container {
      // border: 2px solid red;
      gap: 5rem;
      & > a {
        font-size: 3rem;
      }
    }
  }
  .menu-toggler {
    display: none;
  }

  nav {
    position: static;
    width: 100%;
    background: none;
  }

  .nav-list {
    display: flex;
    justify-content: left;
    a {
      font-weight: 700;
      color: rgb($medium-grey);
    }
    a:hover {
      color: rgb($light-grey);
    }
  }

  main {
    margin-top: $header-height-md;
  }

  .footer-dot {
    position: absolute;
    left: 100%;
    margin-left: -4rem;
  }
}

@media only screen and (min-width: 750px) {
  .footer-brand {
    position: relative;
  }
  footer {
    display: grid;
    grid-template-columns: max-content auto;
    align-items: center;
    padding: 0;
    padding-right: 5rem;
    height: 8rem;
    width: max-content;
  }
  .footer-link-list {
    display: flex;
  }
  .footer-link-item {
    padding: initial;
    margin: initial;
    padding: 1.7rem;
    // margin-left: 0.85rem;
    // margin-right: 0.85rem;
  }
  .footer-brand {
    margin-top: 0;
  }
}

@media only screen and (min-width: 1100px) {
  footer {
    margin-left: auto;
    margin-right: auto;
  }
}

.hero-container {
  min-height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  h1,
  h2,
  p {
    color: white;
  }
  & > div {
    background-color: rgba(rgb($black), 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    place-content: center;
    padding: 2rem;
  }
}

.welcome-container {
  img {
    display: none;
  }
}

@media only screen and (min-width: 1100px) {
  .welcome-container {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
    grid-template-rows: max-content 100px auto;
    gap: 2rem;
    .welcome-header {
      grid-column: 1 / span 2;
      grid-row: 1 / span 2;
      z-index: 10;
      height: 200px;
    }
    img {
      grid-column: 2;
      grid-row: 2 / span 2;
      display: block;
    }
    div {
      grid-column: 1;
      max-width: max-content;
    }
  }
}

.home-container {
  background-image: url("/assets/portfolio/mural-overhead.jpg");
}

section {
  margin-bottom: 5rem;
  padding: 1.5rem;
}

.small-team-container {
  background-image: url("/assets/portfolio/mural-guerra.jpg");
  background-size: cover;
  background-position: 50% 20%;
}

.feature-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto repeat(3, 200px) auto;
  gap: 1rem;
}

.featured {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  grid-column: span 3;
  cursor: pointer;

  & > div {
    background-color: rgba(rgb($black), 0.3);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    color: white;
    padding: 1rem;
    display: grid;
    align-items: flex-end;
    transition: ease-in-out all $transition-speed-main;
    p {
      margin: 0;
      font-weight: 300;
    }
  }
  &:hover > div {
    background-color: rgba(rgb($dark-blue), 0.5);
  }
}

.featured-project-del-sol {
  background-image: url("/assets/portfolio/mural-fancy.jpg");
}

.featured-mrn-hand {
  background-image: url("/assets/portfolio/mural-hand.jpg");
  background-position: 100% 10%;
}
.featured-cartoon-prototype {
  background-image: url("/assets/portfolio/mural-cartoon.jpg");
}
.feature-number {
  display: none;
}
@media only screen and (min-width: 750px) {
  .feature-container {
    grid-template-rows: auto repeat(3, 400px) auto;
  }
  .feature-button {
    grid-row: 1;
    grid-column: 3;
    align-self: center;
  }
  .feature-number {
    display: block;
    color: rgba(rgb($white), 0.9);
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
}

@media only screen and (min-width: 1100px) {
  .feature-container {
    grid-template-rows: auto repeat(3, 180px) auto;
    h2 {
      grid-column: 1 / span 3;
      grid-row: 1;
    }
  }
  .feature-button {
    // grid-row: -1;
    grid-row: 1;
    justify-self: right;
  }
  .featured {
    grid-column: span 1;
    grid-row: 2 / span 4;
  }
}

.about-hero-section {
  // border: 2px solid orange;
  padding: 0.001px;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-rows: 1fr 5rem 1fr auto;
  grid-template-columns: repeat(12, 1fr);
  margin-bottom: 0;

  img {
    // border: 2px solid red;
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    grid-row: 1 / span 2;
    grid-column: 1 / span 12;
    z-index: -1;
  }
}

.about-hero-text {
  // border: 2px solid blue;
  position: relative;
  background-color: rgb($white);
  padding: 2rem;
  grid-row: 2 / span 2;
  grid-column: 1 / span 11;
}

img {
  max-width: 100%;
}

.about-user {
  margin-bottom: 3rem;
  grid-column: span 6;
  p {
    margin-top: 0;
    margin-bottom: 0.3rem;
  }
  h3 {
    margin-top: 1rem;
  }
}

.social-icon {
  width: 24px;
  height: 24px;
  transition: ease-in-out $transition-speed-main all;
}

.social-icon:hover {
  fill: rgb($light-grey);
}

.social-icon + .social-icon {
  margin-left: 1.5rem;
}

.designers-section {
  gap: 2rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.designers-header {
  grid-column: 1 / span 6;
}
@media only screen and (min-width: 750px) {
  .about-user {
    grid-column: span 3;
  }

  .about-hero-section {
    width: 90%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;

    img {
      grid-row: 1 / span 3;
      grid-column: 1 / span 12;
    }
    .about-hero-text {
      display: grid;
      align-content: flex-end;
      grid-column: 2 / -1;
      grid-row: 3 / span 1;
      h2 {
        margin-bottom: 2rem;
      }
    }
    .about-text {
      grid-row: 3 / span 1;
      margin-top: -4rem;
      grid-column: 2 / span 10;
      z-index: 1;
      text-align: left;
    }
  }
}

@media (min-width: 1100px) {
  .designers-header {
    grid-column: 1 / span 2;
    grid-row: 1 / span 3;
  }
  .about-user {
    grid-column: span 2;
  }

  .about-hero-section {
    img {
      grid-column: 1 / span 6;
    }

    .about-hero-text {
      grid-column: 6 / span 6;
    }

    .about-text {
      grid-column: 6 / span 6;
      grid-row: 2 / span 1;
    }
  }

  .heritage-section {
    display: grid;
    grid-template-columns: auto auto;
    align-items: flex-end;
    gap: 3rem;

    div {
      p + p {
        margin-bottom: 0;
      }
    }
  }
}

.heritage-image {
  display: none;
}

@media (min-width: 1100px) {
  .heritage-image {
    display: block;
  }
}

.about-hero-image {
  object-fit: cover;
}

.clip-top-left {
  clip-path: polygon(6% 0, 100% 0, 100% 100%, 0% 100%);
}
.clip-top-right {
  clip-path: polygon(0 0, 94% 0, 100% 100%, 0% 100%);
}

.clip-bottom-left {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 6% 100%);
}

.clip-bottom-right {
  clip-path: polygon(0 0, 100% 0, 94% 100%, 0% 100%);
}

.portfolio-gallery {
  // border: 2px solid red;
  display: grid;
  grid-auto-rows: 240px;
  gap: 2rem;
  grid-auto-flow: row dense;
}

.portfolio-item-container {
  background-size: cover;
  background-position: center;
  position: relative;
}

@media (min-width: 1100px) {
  .portfolio-gallery {
    grid-auto-rows: 560px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
  .landscape {
    grid-column: span 2;
  }
}

.portfolio-fancy {
  background-image: url("/assets/portfolio/mural-fancy.jpg");
}

.portfolio-mrm {
  background-image: url("/assets/portfolio/mural-hand.jpg");
}

.portfolio-cartoon {
  background-image: url("/assets/portfolio/mural-cartoon.jpg");
}

.portfolio-raccoon {
  background-image: url("/assets/portfolio/mural-raccoon.jpg");
}

.portfolio-paradise {
  background-image: url("/assets/portfolio/mural-overhead.jpg");
}

.portfolio-woman {
  background-image: url("/assets/portfolio/mural-woman.jpg");
}

.portfolio-carousel {
  background-image: url("/assets/portfolio/mural-heritage.jpg");
}

.portfolio-guerra {
  background-image: url("/assets/portfolio/mural-guerra.jpg");
}

.portfolio-mind {
  background-image: url("/assets/portfolio/mural-mind.jpg");
}

.portfolio-ceramic {
  background-image: url("/assets/portfolio/mural-ceramic.jpg");
}

.portfolio-link {
  background-color: rgba(rgb($dark-blue), 0.3);
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: grid;
  align-content: flex-end;
  color: rgb($white);
  padding: 2rem;
  p {
    margin: 0;
  }
  &:hover {
    color: rgb($white);
    background-color: rgba(rgb($dark-blue), 0.7);
  }
}

/* Form Styling */

.form {
  display: grid;
  width: 100%;
  max-width: 400px;

  button {
    justify-self: right;
  }
}

.form-field {
  // border-top: 40px solid transparent;
  position: relative;
  width: 100%;
}

.form-field + .form-field {
  border-top: 30px solid transparent;
}

.form-field input {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: rgb($very-light-grey);
  padding: 12px;
  border-radius: 3px;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
}

.form-field textarea {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: rgb($very-light-grey);
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  padding: 12px;
  width: 100%;
  border-radius: 3px;

  font-size: 14px;
}
.form-field input + .placeholder {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: rgb($medium-grey);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: top 0.3s ease, color 0.3s ease, font-size 0.3s ease;
}

.form-field textarea + .placeholder {
  position: absolute;
  left: 12px;
  top: 2rem;
  transform: translateY(-50%);
  color: rgb($medium-grey);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: all ease-in-out $transition-speed-main;
}

input:valid + .placeholder,
.form-field input:focus + .placeholder {
  top: -10px;
  font-size: 12px;
  color: rgb($dark-blue);
  font-weight: 700;
}

textarea:valid + .placeholder,
.form-field textarea:focus + .placeholder {
  top: -10px;
  font-size: 12px;
  color: #222;
  font-weight: 700;
}

input[type="text"]:invalid {
  outline: none;
  border: none;
}

.submitted-form {
  input:invalid,
  input:invalid:focus,
  textarea:invalid {
    border: 2px solid red;
    outline: none;
  }
}

.form-field
  input:not(:placeholder-shown)
  + .placeholder
  .form-field
  input:focus
  + .placeholder {
  top: -10px;
  font-size: 10px;
  color: #222;
}

.form-container {
  display: grid;
  // grid-template-columns: max-content auto;
  // border: 2px solid red;
}

.contact-header {
  margin-bottom: 0;
}
.contact-header + p {
  margin-bottom: 4rem;
}
.form {
  // grid-column: 1 / span 2;
  margin: 0 auto;
}

@media (min-width: 750px) {
  .contact-header {
    text-align: center;
  }
  .contact-sub-header {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1100px) {
  .contact-header,
  .contact-sub-header {
    text-align: left;
    margin-left: initial;
  }
  .contact-header {
    grid-column: 1;
    margin-bottom: 0;
  }
  .contact-header + p {
    // margin-top: 0;
  }
  .form {
    grid-column: 2;
    margin: 0 auto;
  }
  .form-container {
    grid-template-columns: max-content auto;
  }

  .contact-details {
    h2 {
      margin-top: 0;
    }
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 7rem;
  }
}
